<style>
    .btn {
        padding: 10px;
        margin: 5px;
        color: white;
        border-radius: 10px;
        border: none;
        font-size: 14px;
        cursor: pointer;

        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: #3E95FF !important;
        }
    }
</style>

<div>
    <img
        %if: show
        #loader 
        src: "src/resources/cat.jpg" 
        $width: 100px 
        $height: 100px
        $position: relative
        @enter: sayHi
        @leave: sayBye
        @move: printStuff
    />
    <label $fontSize: 20px>
        <span>Name:</span>
    </label>
    <input 
        #nameInput
        @input: updateName
        $margin: 5px
    />
    <input 
        #ageInput
        @input: updateAge
        _type: range 
        min:"0" 
        max:"200" 
        value:"50"
        $width: 200px />
    <p $fontWeight: bold> Hi, my name is "{{ name }}", my age is {{ age }} - I live at {{ address.street }}. Fav color is {{ props.favColor }} </p>
    <p>{{ age * 3.56 }}</p>
    <p>{{ age / 3.56 }}</p>
    <p>{ {{ mousePos.x }}, {{ mousePos.y }} }</p>
    <button 
        #incrButton 
        @click: incr
        $backgroundColor: green
        className: btn
    > 
        Increase
    </button>
    <button 
        #decrButton 
        @click: decr 
        $backgroundColor: red
        className: btn
    > 
        Decrease 
    </button>
    <button 
        #changeName 
        @click: changeName
        $backgroundColor: orange
        className: btn
    > 
        Change name 
    </button>
    <button 
        #toggleLoader
        @click: toggleLoader
        $backgroundColor: gray
        className: btn
    > 
        Hide 
    </button>
    <OtherComponent color: red />
    <button 
        #changeAddress
        @click: changeAddress
        $backgroundColor: "rgb(100, 200, 100)"
        className: btn
    > 
        Change address
    </button>
</div>